%h1= t '.title'

= simple_form_for @source, url: account_source_path(@account, @source), wrapper: :horizontal_form do |f|
  = f.input :name
  = f.input :access_key
  = f.input :secret_key
  = f.input :host_base
  = f.input :host_bucket
  = f.input :bucket
  = f.input :use_http, wrapper: :horizontal_boolean
  = f.button :submit
