%h2= t '.title'

- @account.sources.each do |source|
  .row
    .col-md-6
      .card.bg-light.mb-3
        .card-body
          %h5.card-title= source.name
          %p.card-test
            = source.photos.count
            photos (yy other files, zz ignored)
          %ul
            %li
              %b Host Base
              = source.host_base
            %li
              %b Bucket
              s3://#{source.bucket}
          .btn-wrapper
            = link_to t('.show'), account_source_path(@account, source), class: 'btn btn-outline-primary'
            = link_to t('.edit'), edit_account_source_path(@account, source), class: 'btn btn-outline-secondary'
            = button_to t('.import'),
                        account_source_import_path(@account, source),
                        method: :post,
                        class: 'btn btn-outline-secondary'

%p
  = link_to t('.add_source'), new_account_source_path(@account), class: 'btn btn-primary'
