%h1= @source.name

.btn-wrapper
  = link_to t('.edit'), edit_account_source_path(@account, @source), class: 'btn btn-outline-secondary'
  = button_to t('.import'), account_source_import_path(@account, @source), method: :post, class: 'btn btn-outline-secondary'

%h2= t '.photos'

= render partial: 'photo_grid', locals: { photos: @photos, account: @account }
