.row.justify-content-center
  .col-auto
    = image_tag @photo.image.variant(resize_to_limit: [1110, 800]), class: 'rounded bg-light mb-3'

%hr

.row
  .col-md-6
    %h1= @photo.title
    - if @photo.description
      %p= @photo.description
    - else
      %p.muted= t '.add_description'
  .col-md-6
    %h3= t '.photo_details'
    %dl.row
      %dt.col-md-6= t '.dimensions'
      %dd.col-md-6= [@photo.width, @photo.height].join(' x ')
      %dt.col-md-6= t '.original_filename'
      %dd.col-md-6
        s3://#{@photo.object_key}
      %dt.col-md-6= t '.source'
      %dd.col-md-6= link_to @photo.source.name, account_source_path(@account, @photo.source)
