@import "bootstrap";

/* Bootstrap buttons don't have any vertical margin, so
   they touch when adjacent buttons wrap onto a new line
   e.g. wide form buttons on a narrow sidebar */

.btn-wrapper {
  > .btn {
    margin-bottom: $spacer * 0.25;
  }
}
