.div.mb-3
  - photos.in_groups_of(4, false).each do |group|
    .row.mx-n1
      - group.each do |photo|
        .col-sm-6.col-md-3.p-1
          = link_to(image_tag(photo.image.variant(resize_to_fill: [271, 160]),
                              class: 'mx-auto d-block rounded bg-light', width: 271, height: 160),
                    account_photo_path(account, photo))

= will_paginate photos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
