- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{ class: "alert alert-#{name == 'notice' ? 'success' : 'danger'}" }
      %button.close{ 'data-dismiss' => 'alert' } ×
      = tag.div(msg, id: "flash_#{name}")
