!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Coppermill
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.bg-light.navbar-light.mb-3
      = link_to t('.application_name'), root_path, class: 'navbar-brand'
      .navbar-collapse.collapse
        %ul.navbar-nav
          - if user_signed_in?
            %li.nav-item= link_to t('.dashboard'), dashboard_path, class: 'nav-link'
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item= link_to t('.sign_out'), destroy_user_session_path, method: 'delete', class: 'nav-link'
          - else
            %li.nav-item= link_to t('.sign_in'), new_user_session_path, class: 'nav-link'
            %li.nav-item= link_to t('.sign_up'), new_user_registration_path, class: 'nav-link'
    = render 'layouts/messages'
    .container
      = yield
