%h1= @account.name

.row.justify-content-between
  .col-auto
    %ul.list-inline
      %li.list-inline-item
        = link_to t('.number_members', count: @account.members.count), account_memberships_path(@account)
      %li.list-inline-item
        = link_to t('.number_sources', count: @account.sources.count), account_sources_path(@account)
  .col-auto
    %p= t '.number_photos', count: @account.photos.count

= render partial: 'photo_grid', locals: { photos: @photos, account: @account }

%h2= t '.scratchspace'

%p
  = link_to t('.edit_account'), edit_account_path(@account), class: 'btn btn-outline-primary'
